<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<title>Login Form</title>
  	<link rel="stylesheet" href="/static/polls/css/style.css">
  	<link rel="stylesheet" href="/static/polls/css/semantic.min.css">
  	<script type="text/javascript" src="/static/polls/js/jquery-1.10.2.min.js"></script>
  	<script type="text/javascript" src="/static/polls/js/jquery.cookie.js"></script>
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script>
		$(document).ready(function() {
			var permsNeeded = ['email,user_tagged_places,user_location,read_stream'];
			function fb_login(){
				FB.login(function(response) {
					if (response.status === 'connected') {
						$.ajax({
							url : "/polls/register/",
							type: "POST",
							data : {user: response.authResponse.userID, 
									access_token: response.authResponse.accessToken, 
									csrfmiddlewaretoken: '{{ csrf_token }}'},
							dataType : "json",
							success: function( data ){
								if (data.valid){
									window.location.href = 'polls/home';
								}
							}
						});
					} else if (response.status === 'not_authorized') {
					// The person is logged into Facebook, but not your app.
					} else {
					// The person is not logged into Facebook, so we're not sure if
					// they are logged into this app or not.
					}
				}, {scope: permsNeeded.join(',')});
			}

			window.fbAsyncInit = function() {
				FB.init({
					appId      : '688488047882848',
					cookie     : true,  // enable cookies to allow the server to access 
										// the session
					xfbml      : true,  // parse social plugins on this page
					version    : 'v2.0' // use version 2.0
				});

				//Check if user is logged in
				FB.getLoginStatus(function(response) {
					if (response.status === 'connected') {
						//Load the logged in page.
						window.location.href = 'polls/home?access_token='+response.authResponse.accessToken+'&userid='+response.authResponse.userID;
					}
					else{
						//Load the login page
						//window.location.href = '/login';
					}
				});
			};

		  // Load the SDK asynchronously
		  (function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));

		$('#fb_button').click(function() {
			fb_login();
		});

		});
	</script>
</head>
<body>
<div class="login_bg">
	<div id="fb_button" class="ui twitter button fb_login_button">
  		<i class="facebook icon"></i>
  			Sign in using Facebook
	</div>
</div>
</body>
</html>

